*{
    padding: 0;
    margin: 0;
    font-family: Tahoma;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(Images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;

}

.lighttheme{
    background-image: none;
}


#lmdm{
    width: 30px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50;
    border-radius: 100%;
}

.header{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    height: 155px;
    position: relative;
    
}

.logo img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 10;
    left: 55;
}

.logotitle h2{
    position: absolute;
    color: #e41b21;
    top: 115;
    left: 30;
}
.logotitle h2:hover{
    position: absolute;
    color: white;
    top: 115;
    left: 30;
}

.search img{
    transform: scale(0.03);
}

.search img:hover{
    cursor: pointer;
}

.navi{
    display: flex;
}

#a1{
    background-color: #e41b21;
    border-radius: 20px;
    color: white;
    
}

#a1:hover{
    background-color:rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    color: white;
    
}

#a2{
    background-color: #e41b21;
    border-radius: 20px;
    color: white;
    
}

#a2:hover{
    background-color:rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    color: white;
    
}

#a3{
    background-color: #e41b21;
    border-radius: 20px;
    color: white;
    
}

#a3:hover{
    background-color:rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    color: white;
    
}

#a4{
    background-color: #e41b21;
    border-radius: 20px;
    color: white;
    
}

#a4:hover{
    background-color:rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    color: white;
    
}

#a5{
    background-color: #e41b21;
    border-radius: 20px;
    color: white;
    
}

#a5:hover{
    background-color:rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    color: white;
    
}

#a1{
    height: 40px;
    line-height: 43px;
    margin: 0;
    padding: 0 15;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    top: 45;
    left: 480;
} 
#a2{
    height: 40px;
    line-height: 43px;
    margin: 0;
    padding: 0 15;
    display: flex;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    top: 45;
    left: 585;
}
#a3{
    height: 40px;
    line-height: 43px;
    margin: 0;
    padding: 0 15;
    display: flex;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    top: 45;
    left: 715;
}
#a4{
    height: 40px;
    line-height: 43px;
    margin: 0;
    padding: 0 15;
    display: flex;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    top: 45;
    left: 835;
}
#a5{
    height: 40px;
    line-height: 43px;
    margin: 0;
    padding: 0 15;
    display: flex;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    top: 45;
    left: 950;
}

.search{
    width: 250;
    height: 40;
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0px 20px;
    position: absolute;
    top: 45px;
    left: 1100px;
    
}

.search img{
    position: absolute;
    top: -230;
    left: -5;
}
.search input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    color: black;
    background: transparent;
    position: absolute;
    top: 5;
    left: 30;
}

.hr1{
    width: 97%;
    margin: auto;
    position: absolute;
    top: 160px;
    left: 20px;
}

#hr2{
    width: 97%;
    margin: auto;
    position: absolute;
    top: 2px;
    left: 20px;
}


.main{
    width: 90%;
    height: auto;
    margin: auto;
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;


}

.card{
    position: relative;
    width: 180px;
    height: 290px;
    overflow: hidden;
    /* border: 1px solid white; */
    margin: 10px;
    border-radius: 20px;
    
}

.card img{
    width: 100%;
    height: 100%;

}
.btn{
position: absolute;
width: 180px;
height: 30;
bottom:-40;
left: 0;
border: none;
outline: none;
font-size: 18px;
cursor: pointer;
transition:0.3s;
background-color: #ff5e0e;
opacity: 0.8;

}

.card:hover .btn{
    bottom: 0;
}

.more{
    margin-top: 145px;
    margin-left: 20px;
    font-size: 20;
}

.more a{
    text-decoration: none;
    color: #e41b21;
}

.movie_series{
    font-size: 30px;
    color: #e41b21;
    margin-left: 50px;
}

hr{
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}



